/******************
ESTILOS DE TIPOGRAFIAS
*******************************/

div{
    h3{font-family: 'Times New Roman', Times, serif;}
}     
    
.frase{
    font-family: 'Indie Flower', cursive;
}

.titulo{
    font-family: rubik;
}

.parrafos{
   font-family:Arial, Helvetica, sans-serif ;
}

.parrafosInformes{
    font-family:Arial, Helvetica, sans-serif ;
}


.tipoDeFuente {
  
   font-family:'Times New Roman', Times, serif;
}

.pruebaGrid div strong{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.pruebaGrid div p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}